<% let tags = transaction.tags %>
<%- include("partials/header.ejs") %>
<main>
    <h1>Let's edit this transaction</h1>
    <br>
    <div id="edit-form-box">
        <form action="/transactions/<%=index%>?_method=PUT" method="post" id="edit-form"> 
            <div id="date-input-box" class="form-box">
                <label for="date">Date: </label>
                <input type="text" name="date" value="<%=transaction.date%>" class="form-input">
            </div>   
            <div id="name-input-box" class="form-box">
                <label for="name">Type: </label>
                <input type="text" name="name" value="<%=transaction.name%>" class="form-input"> 
            </div>
            <div id="amount-input-box" class="form-box">
                <label for="amount">Amount: </label>
                <input type="text" name="amount" value="<%=transaction.amount%>" class="form-input"> 
            </div>
            <div id="from-input-box" class="form-box">
                <label for="from">From: </label>
                <input type="text" name="from" value="<%=transaction.from%>" class="form-input"> 
            </div>
            <div id="tags-input-box" class="form-box">
                <label for="tags">Tags: </label>
                <input type="text" name="tags" id="newTag" placeholder="add tag" class="form-input"> 
                <input type="button" value="add tag" onclick="addToList(event)" class="btn tag-btn">
            </div>
            <div id="tags-box"></div>
            <div class="form-box" id="submit-btn-box">
                <input type="submit" value="submit changes" id="submit-btn" class="btn submit-btn">
            </div>
        </form>
    </div>
</main>
<%- include("partials/footer.ejs") %>
</body>
</html>
<script>
    // declare variables
    let tagDiv = document.getElementById("tags-box")
    // this takes the serverside array and passes it to front-end JS to manipulate. it has to stringify the JSON I guess 
    let tagsList = <%- JSON.stringify(tags) %>
    let submitBtn = document.getElementById('submit-btn')
    let newTag = document.getElementById('newTag')

    // clears tagDiv first, then cycles through tagList and creates a div and button to show tags
    function createTagsList(){
        tagDiv.replaceChildren()
        for(let i = 0; i < tagsList.length; i++){
            let div = document.createElement('div')
            div.textContent = tagsList[i]
            div.className = 'tag-item'
            tagDiv.appendChild(div)
            
            let btn = document.createElement('input')
            btn.type = 'button'
            btn.value = 'X'
            btn.id = i
            btn.classList = "del-btn"
            // adds click function to delete current item in array, and removes div
            btn.addEventListener('click', function(event){
                let index = parseInt(event.currentTarget.id)
                // fixes bug where last item wouldn't actually splice due to id naming index issue
                if(tagsList.length === 1){
                    tagsList = []
                }else{
                    tagsList.splice(index, 1)
                }
                event.currentTarget.parentElement.remove()
            })
            div.appendChild(btn)
        }
    }

    // adding a new entry will add to the tagList, and clear the input. refreshes tag list
    function addToList(event){
        let newTag = document.getElementById("newTag")
        tagsList.push(newTag.value)
        newTag.value = ""
        createTagsList()
    }

    createTagsList()

    submitBtn.addEventListener('click', function(){
        newTag.value = tagsList.join(", ")
    })
</script>