<% let tags = transaction.tags %>
<%- include("partials/header.ejs") %>
<main>
    <h1>Let's edit this transaction</h1>
    <br>
    <form action="/transactions/<%=index%>?_method=PUT" method="post">    
        <label for="date">Date</label>
        <input type="text" name="date" value="<%=transaction.date%>">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%=transaction.name%>"> 
        <label for="amount">Amount</label>
        <input type="text" name="amount" value="<%=transaction.amount%>"> 
        <label for="from">From</label>
        <input type="text" name="from" value="<%=transaction.from%>"> 
        <label for="tags">Tags</label>
        <input type="text" name="tags" id="newTag" placeholder="add tag"> 
        <input type="button" value="add tag" onclick="addToList(event)">
        <div id="tags-box"></div>
        <input type="submit" value="submit changes" id="submit-btn">
    </form>
</main>
<%- include("partials/footer.ejs") %>
</body>
</html>
<script>
    // declare variables
    let tagDiv = document.getElementById("tags-box")
    let tagsList = <%- JSON.stringify(tags) %>
    let submitBtn = document.getElementById('submit-btn')
    let newTag = document.getElementById('newTag')

    // clears tagDiv first, then cycles through tagList and creates a div and button to show tags
    function createTagsList(){
        tagDiv.replaceChildren()
        for(let i = 0; i < tagsList.length; i++){
            let div = document.createElement('div')
            div.textContent = tagsList[i]
            div.className = 'tag-item'
            tagDiv.appendChild(div)
            
            let btn = document.createElement('input')
            btn.type = 'button'
            btn.value = 'X'
            btn.id = i
            btn.classList = "del-btn"
            // adds click function to delete current item in array, and removes div
            btn.addEventListener('click', function(event){
                let index = parseInt(event.currentTarget.id)
                // fixes bug where last item wouldn't actually splice due to id naming index issue
                if(tagsList.length === 1){
                    tagsList = []
                }else{
                    tagsList.splice(index, 1)
                }
                event.currentTarget.parentElement.remove()
            })
            div.appendChild(btn)
        }
    }

    // adding a new entry will add to the tagList, and clear the input. refreshes tag list
    function addToList(event){
        let newTag = document.getElementById("newTag")
        tagsList.push(newTag.value)
        newTag.value = ""
        createTagsList()
    }

    createTagsList()

    submitBtn.addEventListener('click', function(){
        newTag.value = tagsList.join(", ")
    })
</script>