<body>
    <%- include("partials/header.ejs") %>
    <main>
            <div class="page-title-box">
                <h1 class="page-heading">Transactions</h1>
            </div>
            <div class="new-item-box">
                <form action="/transactions/new" method="get">
                    <input type="submit" value="Enter new transaction" id="new-trans-btn">
                </form>
            </div>
            <div class="table-box">
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                    <%for (let i=0; i < transactions.length; i++){%>
                        <tr>
                            <td>
                                <%=transactions[i].date%>
                            </td>
                            <td><a href="/transactions/<%=i%>">
                                    <%=transactions[i].name%>
                                </a></td>
                            <td>
                                <%=transactions[i].amount%>
                            </td>
                        </tr>
                        <%}%>
                </table>
            </div>

    </main>
    <%- include("partials/footer.ejs") %>
</body>

</html>