    <%- include("partials/header.ejs") %>
        <main>
            <h1 class="page-heading">View Transaction</h1>
            <br>
            <a href="/transactions" class="home-link">Back to transaction history</a>
            <div class="table-box">
                <table class="show-table">
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>From</th>
                        <th>Amount</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr>
                        <td>
                            <%=transaction.date%>
                        </td>
                        <td>
                            <%=transaction.name%>
                        </td>
                        <td>
                            <%=transaction.from%>
                        </td>
                        <td>
                            <%=transaction.amount%>
                        </td>
                        <td>
                            <form action="/transactions/<%=index%>/edit" method="get">
                                <input type="submit" value="Edit">
                            </form>
                        </td>
                        <td>
                            <form action="/transactions/<%=index%>?_method=DELETE" method="post">
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <h3>Tags:</h3>
            <div class="tags-box">
                <%for (let i=0; i < transaction.tags.length; i++){%>
                    <span class="tag-span">
                        <%=transaction.tags[i]%>
                    </span>
                    <%}%>
            </div>
            <br>
        </main>
        <%- include("partials/footer.ejs") %>
</body>

</html>